
@font-face {
    font-family: GiloryBlack;
    src: url("../../fonts/gilory/Gilroy-Black.ttf") format("truetype");
}

@font-face {
    font-family: GiloryBold;
    src: url("../../fonts/gilory/Gilroy-Bold.ttf") format("truetype");
}

@font-face {
    font-family: GiloryLight;
    src: url("../../fonts/gilory/Gilroy-Light.ttf") format("truetype");
}

@font-face {
    font-family: GiloryMedium;
    src: url("../../fonts/gilory/Gilroy-Medium.ttf") format("truetype");
}

@font-face {
    font-family: GiloryRegular;
    src: url("../../fonts/gilory/Gilroy-Regular.ttf") format("truetype");
}

@font-face {
    font-family: GilorySemiBold;
    src: url("../../fonts/gilory/Gilroy-SemiBold.ttf") format("truetype");
}