@import "variable";

@mixin flex-container($align:center,$justify: center, $flex-direction: row){
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $flex-direction;
}

@mixin font($size, $color: #fff, $family:GilorySemiBold){
    font-size: $size/$primary-font-size-value + rem;
    color: $color;
    font-family: $family;
}