$primary-color: #fff;
$secondary-color: #53B175;

$background-color1: #ffffff;
$background-color2: #53B175;

$primary-font-family: "MontesserratRegular", sans-serif;
$primary-font-size: 82.5%;
$primary-font-size-value: 14;