@import '../../../../../assets/styles/helpers/mixins';

.product{
    width: 11rem;
    height: 16rem;
    background: transparent;
    border-radius: 25px;
    border: 1px solid #E2E2E2;
    @include flex-container(center,space-around,column);
    padding: 0.7rem;
    padding-bottom: 5px;
    .top{
        height: 45%;
        img{
            width: 7.5rem;
            max-width: 10rem;
        }
    }
    .middle{
        @include flex-container(start,start,column);
        width: 100%;
        .product-name{
            @include font(1.1,#181725);
            font-weight: bold;
            line-height: 20px;
        }
        .product-desc{
            @include font(0.8, #7C7C7C);
            text-overflow: ellipsis;
            overflow: hidden;
            text-wrap: nowrap;
            width: 90%;
        }
    }

    .bottom{
        width: 100%;
        @include flex-container(center,space-between,row);
        .price{
            @include font(1.2,#181725);
            font-weight: bold;
            s{
                @include font(0.9, #000000, GiloryLight);
            }
        }
        .add-btn{
            background: #53B175;
            border-radius: 15px;
            padding: 13px;
            img{
                width: 20px;
                margin-top: -5px;
            }
        }
    }   
}

.loader{
    padding: 0.3rem;
    @include flex-container(center,space-evenly,column);

    .top{
        height: 40%;
        width: 100%;
    }

    .middle{
        height: 15%;
        width: 100%;
    }

    .bottom{
        height: 10%;
        width: 100%;
    }

}