<div class="product">
    <div class="top">
        <img [src]="productData.img" alt="product-img">
    </div>
    <div class="middle" (click)="redirect()">
        <div class="product-name">
            {{productData.name}}
        </div>
        <div class="product-desc">
            {{productData.quantity}}
        </div>
    </div>
    <div class="bottom">
        <div class="price">
            ₹{{productData.price}}
        </div>
        <div class="add-btn">
            <img src="assets/images/shared/add-btn.svg" alt="add-btn">
        </div>
    </div>
</div>