<div class="product">
    <div class="top">
        <img src="assets/images/home/apple.svg" alt="product-img">
    </div>
    <div class="middle" (click)="redirect()">
        <div class="product-name">
            Apple
        </div>
        <div class="product-desc">
            7pc/order
        </div>
    </div>
    <div class="bottom">
        <div class="price">
            ₹75
        </div>
        <div class="add-btn">
            <img src="assets/images/shared/add-btn.svg" alt="add-btn">
        </div>
    </div>
</div>